@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Article>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core
@using Clean.Core.Extensions

@{
    Layout = "master.cshtml";
    var authors = Model.Author;
    var authorNames = authors != null ? string.Join(", ", authors.Select(a => a.Name)) : "";
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage, authorNames, Model.ArticleDate, Model.Categories))

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @Html.GetBlockListHtml(Model.ContentRows)
                @if (Model.HasValue("postNotes"))
                {
                    <div class="post-notes">
                        <strong>Post Notes:</strong>
                        @Model.PostNotes
                    </div>
                }
            </div>
        </div>
    </div>
    @if (Model.HasValue("sectionRows"))
    {
        var rows = Model.Value<Umbraco.Cms.Core.Models.Blocks.BlockListModel>("sectionRows");
        foreach (var row in rows)
        {
            @await Html.PartialAsync("~/Views/Partials/contentSectionRow.cshtml", row)
        }
    }
</article>