@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Content>

@using Clean.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels


@{
    Layout = "master.cshtml";
    var showSectionNavigation = Model.Value<bool>("showSectionNavigation");
}

@await Html.PartialAsync("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<article>
    <div class="container">
        @if (showSectionNavigation)
        {
            <div class="row">
                <div class="col-lg-3">
                    @await Html.PartialAsync("~/Views/Partials/sectionNavigation.cshtml", Model)
                </div>
                <div class="col-lg-9">
                    @Html.GetBlockListHtml(Model.ContentRows)
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @Html.GetBlockListHtml(Model.ContentRows)
                </div>
            </div>
        }
    </div>
</article>