@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using UmbracoProject.Helpers

@{
    Layout = "master.cshtml";
    var submitted = false;
    if (bool.TryParse(TempData["Success"]?.ToString() ?? "", out var success))
    {
        submitted = true;
    }
}

@await Html.PartialAsync("~/Views/Partials/v2/_PageHead.cshtml", new
{
    Title = Model.Name,
    Eyebrow = Model.Title,
    Dek = Model.Subtitle,
    Pattern = Model.PageHeadPattern()
})

<main class="wrap-narrow my-5">
    @if (submitted)
    {
        @if (success)
        {
            @Model.SuccessMessage
        }
        else
        {
            @Model.ErrorMessage
        }
    }
    else
    {
        @Model.InstructionMessage
        <div class="my-5">
            @if (Model.Form != null)
            {
                @await Component.InvokeAsync("RenderForm", new { formId = Model.Form })
            }
        </div>
    }
</main>
