@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    Layout = "master-v2.cshtml";

    var pullQuote = Model.Value<string>("pullQuote");
    var pullQuoteAttribution = Model.Value<string>("pullQuoteAttribution");
}

@section Styles {
    <link href="/assets/css/home-sections.css" rel="stylesheet" asp-append-version="true" />
}

@await Html.PartialAsync("~/Views/Partials/v2/_HeroHome.cshtml", Model)
@await Html.PartialAsync("~/Views/Partials/v2/_LatestSection.cshtml", Model)
@await Html.PartialAsync("~/Views/Partials/v2/_DcPull.cshtml", new { Quote = pullQuote, Cite = pullQuoteAttribution })
@await Html.PartialAsync("~/Views/Partials/v2/_Manifesto.cshtml", Model)

@if (Model.ContentRows != null && Model.ContentRows.Any())
{
    <section class="wrap-narrow">
        @Html.GetBlockListHtml(Model.ContentRows)
    </section>
}
